<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
    <bean id="contact1" class="com.stoxa.springhw.Contact">
        <constructor-arg type="java.lang.String" name="firstName" value="Андрей"/>
        <constructor-arg type="java.lang.String" name="lastName" value="Соколов"/>
        <constructor-arg type="java.lang.String" name="phone" value="+380934567894"/>
        <constructor-arg type="java.lang.String" name="email" value="sokolov@yandex.ru"/>
    </bean>
    
    <bean id="contact2" class="com.stoxa.springhw.Contact">
        <constructor-arg type="java.lang.String" name="firstName" value="Сергей"/>
        <constructor-arg type="java.lang.String" name="lastName" value="Иванов"/>
        <constructor-arg type="java.lang.String" name="phone" value="+380674560901"/>
        <constructor-arg type="java.lang.String" name="email" value="ivanov@google.com"/>
    </bean>
    
    <bean id="contact3" class="com.stoxa.springhw.Contact">
        <constructor-arg type="java.lang.String" name="firstName" value="Татьяна"/>
        <constructor-arg type="java.lang.String" name="lastName" value="Семенова"/>
        <constructor-arg type="java.lang.String" name="phone" value="+380682348705"/>
        <constructor-arg type="java.lang.String" name="email" value="semenova@mail.ru"/>
    </bean>
    
    <bean id="contact4" class="com.stoxa.springhw.Contact">
        <constructor-arg type="java.lang.String" name="firstName" value="Костя"/>
        <constructor-arg type="java.lang.String" name="lastName" value="Копейка"/>
        <constructor-arg type="java.lang.String" name="phone" value="+380956784343"/>
        <constructor-arg type="java.lang.String" name="email" value="kopeechka@gmail.com"/>
    </bean>
    
    <bean id="contact5" class="com.stoxa.springhw.Contact">
        <constructor-arg type="java.lang.String" name="firstName" value="Ксюша"/>
        <constructor-arg type="java.lang.String" name="lastName" value="Рудниченко"/>
        <constructor-arg type="java.lang.String" name="phone" value="+380937327894"/>
        <constructor-arg type="java.lang.String" name="email" value="kukareku@yandex.ru"/>
    </bean>
 
    
</beans>
